
<!--is a child of base.html-->
{% extends 'base.html' %}
<!-- Is the header -->
{% block header %}

  <h1>{% block title %}Posts{% endblock %}</h1>

  {% if g.user %}<!--only if user is login-->

    <a class="action" href="{{ url_for('blog.create') }}">New</a>

  {% endif %}<!--end of if-->
  <!--<button type="button" name="searchBar" onclick='searched_title()'>Search</button>-->

{% endblock %}<!--End of header-->

{% block content %}
  {% for post in posts %}<!--for all the posts in the post tb-->
  <article class="post" >
      <header>
        <div>
          <h1>{{ post['title'] }}</h1>
          <div class="about">by {{ post['username'] }} on {{ post['created'].strftime('%Y-%m-%d') }}</div>
        </div>
        {% if g.user['id'] == post['author_id'] %}
          <a class="action" href="{{ url_for('blog.update', id=post['id']) }}">Edit</a>
        {% endif %}
      </header>
      <a href="{{ url_for('blog.full', id=post['id']) }}">View</a>
    </article>
    {% if not loop.last %}
      <hr>

    {% endif %}
  {% endfor %}<!--end of the for loop-->
{% endblock %}
